<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/browsepapers.css"/>
    <title>Browse Papers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<form action="">

<h1>Conference Review System Browse Papers</h1>

<table>
	
	<tr>
		<td><h4>Title</h4></td>
		<td><h4>Paper ID</h4></td>
	</tr>
	
	<tr th:if="${paperList.empty}">
		<td colspan="2"><h3>No papers to display</h3></td>
	</tr>
	
	<tr th:each="paper : ${paperList}">
	    <td th:text="${paper.title}"> </td>
	    <td>
	    	<a th:href="@{'/searchpapers?paperId=' + ${paper.paperid}}" th:text="${paper.paperid}"/>
	    </td>
	</tr>

</table>
</form>

</body>
</html>