<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/createpaper.css"/>
	<title>New Paper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<form action="">

<h1>Conference Review System New Paper</h1>

<table>	
	<tr>
		<td>Title:</td>
		<td><input type="text" name="title" maxlength="30" size="30"/></td>
	</tr>
	
	<tr></tr>
	
	<tr>
		<td>File Name:</td>
		<td><input type="text" name="fileName" maxlength="30" size="30"/></td>
	</tr>
	
	<tr>
		<td>Abstract:</td>
		<td><textarea name="abstract" cols="30" rows="10"></textarea></td>
	</tr>
	
	<tr></tr>
	
	<tr>
		<td></td>
		<td><input type="submit" value="Submit Paper"/></td>
	</tr>

</table>
</form>

</body>
</html>