<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/login.css"/>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<form action="" method="post">

<h1>Conference Review System Login</h1>

<table>
	<tr>
		<td class="first">Email:</td>
		<td><input type="text" name="email" size="30"/></td>
	</tr>
	
	<tr>
		<td class="first">Password:</td>
		<td><input type="password" name="password" maxlength="15"/></td>
	</tr>
	
	<tr>
		<td></td>
		<td><a href="http://localhost:8080/registration">No account? Register here</a><td>
	</tr>

	<tr></tr>
	
	<tr>
		<td></td>
		<td><input type="submit" value="Login"/></td>
	</tr>
	
	<tr>
		<td colspan="2"><p th:text="${message}" /></td>
	</tr>

</table>
</form>

</body>
</html>