<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/register.css"/>
	<title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
<form action="" method="post">

<h1>Conference Review System Registration</h1>

<table>
	<tr>
		<td class="first">*First Name:</td>
		<td><input type="text" name="firstname" maxlength="25"/></td>
	</tr>
	<tr>
		<td class="first">M. Init:</td>
		<td><input type="text" name="minit" maxlength="1" size="2"/></td>
	</tr>
	<tr>
		<td class="first">*Last Name:</td>
		<td><input type="text" name="lastname" maxlength="25"</td>
	</tr>

	<tr>
		<td class="first">*Email:</td>
		<td><input type="text" name="email" size="30" /></td>
	</tr>
	<tr>
		<td class="first">Phone:</td>
		<td><input type="text" name="phone" maxlength="10"/></td>
	</tr>
	<tr>
		<td class="first">Affiliation:</td>
		<td><input type="text" name="affiliation" maxlength="25" size="25"</td>
	</tr>
	
	<tr>
		<td class="first">Topics of Interest (;):</td>
		<td><input type="text" name="topics" maxlength="50" size="40"</td>
	</tr>
	
	<tr>
		<td class="first">Role:</td>
		<td>
			<select name="role">
				<option value="Author">Author</option>
				<option value="Reviewer">Reviewer</option>
				<option value="Both">Both</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<td class="first">*Password:</td>
		<td><input type="password" name="password" maxlength="15"/></td>
	</tr>

	<tr></tr>
	
	<tr>
		<td></td>
		<td><input type="submit" value="Register"/></td>
	</tr>
	
	<tr>
		<td colspan="2"><p th:text="${message}" /></td>
	</tr>

</table>
</form>

</body>
</html>