<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/searchpapers.css"/>
	<title>Paper Lookup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="http://localhost:8080/">
		<input type="submit" value="Home Page"/>
	</form>
	
<form action="">

<h1>Conference Review System Paper Lookup</h1>

<table>	
	<tr>
		<td></td>
		<td colspan="2" id="paperid">Paper ID:</td>
		<td><input type="text" name="paperId" size="10"/></td>
	</tr>
	
	<tr>
		<td></td>
		<td></td>
		<td colspan="2"><input type="submit" value="Submit"/></td>
	</tr>
	
	<tr>
		<td></td>
		<td colspan="4"><h3>All ratings in database:</h3></td>
	</tr>
	
	<tr>
		<td>PaperID</td>
		<td>Tech Merit</td>
		<td>Readability</td>
		<td>Originality</td>
		<td>Relavance</td>
		<td>Overall Recomm</td>
	</tr>
	
	<tr th:if="${ratingList.empty}">
		<td></td>
    	<td colspan="4"><h3>No ratings to display</h3></td>
    </tr>
    
    <tr th:each="rating : ${ratingList}">
	    <td th:text="${rating.paperid}"> </td>
	    <td th:text="${rating.techmerit}"> </td>
	    <td th:text="${rating.readability}"> </td>
	    <td th:text="${rating.originality}"> </td>
	    <td th:text="${rating.relavance}"> </td>
	    <td th:text="${rating.overallrecomm}"> </td>
	</tr>


</table>
</form>

</body>
</html>